.idea
!.idea/modules.xml
!.idea/vcs.xml
!.idea/deployment.xml
certs/
!certs/production-docker/.gitkeep
!certs/services-docker/.gitkeep
!certs/staging-docker/.gitkeep
production/demo-prj/db/backupsrvkey
